<!DOCTYPE html>
<html>
  <head>
    <title>404</title>
    <link rel="icon" href="/img/weather_img.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <div style="text-align: center;">
        <img id="img-404"src="/img/weather_img.png">
        <p>{{message}}. Click <a href="/">here</a> to return to the main page</p>
      </div>
    </div>
      {{>footer}}
  </body>
</html>